/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
header{
    height: 100vh;
}
.carousel-item img{
    height: 584px;
    object-fit: cover;
}
.toast{
    border-left: 3px solid #006eff;
 right: 0;
 top: 50%;
}
.accordion-button:focus {
   border: none !important;
   outline: none !important;
}